@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}
<header class="w3-center w3-opacity">
    <h1 class="w5-xlarge">WELCOME</h1>
    <h1>HotCat Cafe</h1>
    <div class="w5-col m6 w3-padding-large w5-hide-small">
        <img src="~/images/cafe.jpg" class="w3-round w3-image " alt="Table Setting" width="1200" height="1600">
    </div>
</header>

    <!--<div class="w3-padding-16 text-center">
        <h1 class="display-4 w3-opacity">Welcome</h1>
    </div>-->

    <!-- Header -->
    <!--<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">

        <div class="w5-display-bottomleft w3-padding-large w3-opacity">
            <h1 class="w5-xxlarge">HotCat Cafe</h1>
        </div>
        <div class="w5-col m6 w5-padding-large w5-hide-small">
            <img src="~/images/cafe.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="1200" height="1600">
        </div>
    </header>-->

    <!-- Page content -->
    <div class="w5-content" style="max-width:1100px">

        <!-- End page content -->
    </div>





